version: '3'

services:
  koeri_mysql:
    image: mysql_base
    volumes:
      - ./mysql_docker/var:/var/lib/mysql
      - ./mysql_sources:/mysql_dump
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: #password_1

  tornado_seis:
    depends_on:
      - koeri_mysql
    image: base_tornado_seis
    entrypoint: "/usr/src/services/entry_point/run.sh"
    restart: always
    ports:
      - 8889:8888
    volumes:
      - ./tornado_seis:/usr/src/services

  tornado_radon:
    depends_on:
      - koeri_mysql
    image: base_tornado_radon
    entrypoint: "/usr/src/services/entry_point/run.sh"
    restart: always
    ports:
      - 8888:8888
    volumes:
      - ./tornado_radon:/usr/src/services
  #docker run -d -p 3306:3306 -e MYSQL_ROOT_PASSWORD=abolo -v /Users/Basia/yamyam/research/epos/recover/mysql_seiscomp/var:/var/lib/mysql -e MYSQL_USER=sysop -e MYSQL_PASSWORD=asdaoniJDS --name mysql_seiscomp mysql_base
  mysql_seiscomp:
    image: mysql_base
    environment:
      MYSQL_ROOT_PASSWORD: abolo
      MYSQL_USER: sysop
      MYSQL_PASSWORD: #password_2
    volumes:
      - ./mysql_seiscomp/var:/var/lib/mysql
    restart: always
    ports:
      - 3307:3306


  #docker run -it -v ${PWD}/var:/var/lib/mysql --link mysql_seiscomp:mysql_seiscomp -p 8080:8080 --name fdsnws seiscomp:01 /bin/bash
  fdsnws:
    depends_on:
      - mysql_seiscomp
    image: seiscomp:01
    environment:
      MYSQL_SEISCOMP_ENV_MYSQL_USER: sysop
      MYSQL_SEISCOMP_ENV_MYSQL_PASSWORD: #password_2
    ports:
      - 8081:8080
    command: "sh -c 'tail -f /home/sysop/.seiscomp3/log/scmaster.log'"
    volumes:
      - ./docker-seiscomp3-fdsnws/inventory:/opt/seiscomp/etc/inventory
      - ./docker-seiscomp3-fdsnws/data:/data